@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body, html {
    padding: 3px 3px 3px 3px;
  overflow-x: hidden;
  background: -webkit-linear-gradient(#F59E0B, #EF4444);
  min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    
    text-align: center;
  }
  main {
    font-size: 1vw;
  }
  div.main_page {
    position: relative;
    display: table;
    width: 70%;
    height: auto;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;

    border-width: 2px;
    border-color: #212738;
    border-style: solid;
    background-color: #FFFFFF;
    text-align: center;
  }
  
  div.redes-sociais{
    display: inline;
  }
  
  a:link, a:visited {
    background-color: #b5880c;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
 
  a:hover, a:active {
    background-color: #F59E0B;
  }
  
  ul {
      padding: 4px 8px 4px 16px;
      text-align: left;
  }
  li{
    margin-left: 50px;
    justify-content: ;
  }
  
  h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  h2{
    text-align: left;
  }
  
  h3{
    color: #F59E0B;
    padding-top: 15px;
    Padding-bottom: 15px;
    text-align: left;
    padding-left: 60px;
  }
  
  p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width:800px) {* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body, html {
    padding: 3px 3px 3px 3px;
  overflow-x: hidden;
  background: -webkit-linear-gradient(#F59E0B, #EF4444);
  min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    
    text-align: center;
  }
  main {
    font-size: 2vw;
  }
  div.main_page {
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
height: 100vh;
    border-width: 2px;
    border-color: #212738;
    border-style: solid;
    background-color: #FFFFFF;
    text-align: center;
  }
  
  div.redes-sociais{
    display: inline;
  }
  
  a:link, a:visited {
    background-color: #b5880c;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
 
  a:hover, a:active {
    background-color: #F59E0B;
  }
  
  ul {
      padding: 4px 8px 4px 16px;
      text-align: left;
  }
  li{
    margin-left: 50px;
    justify-content: ;
  }
  
  h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  h2{
    text-align: left;
  }
  
  h3{
    color: #F59E0B;
    padding-top: 15px;
    Padding-bottom: 15px;
    text-align: left;
    padding-left: 60px;
    
    
  }
  
  p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
  }
}